
/* top color  #444444 */
/* middle color #EFEFEF */
/* Left color  #D8D8D8 */
/* Right color #D8D8D8  */
/* bottom color #222222 */

.divTop {
 background-color: #444444;
 /* height: 155px; */
 height: 7vw;
}

.divSplit {
    background-color: #D8D8D8;
    width: 30vw;
    
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.divInline {
    display: inline-block;
}

.divStack {
    display: absolute;
}

.divLeft {
    background-color: #D8D8D8;
    float: left;
    width: 155px;
    height: 93vw;
}


.divRight{
    background-color: #D8D8D8;
    /* z-index: 2; */
    float: right;
    width: 155px;
    height: 93vw;

}

.divMiddle {
    background-color: #EFEFEF;
    /* float: center; */
    z-index: 1;
    /* width: 770%; */
    align-items: center;
    display: flex;
    justify-content: center;
    height: 89.5vw;


}

.divBottom {
    background-color: #222222;
    z-index: 1;
    height: 3.5vw;
    /* absolute: center; */
    /* width: 600%; */
    /* align-items: center;
    display: flex;
    justify-content: center; */

}

.divCenterStack {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: space-between; 
    height: 150px;

    /* width: 670%; */

}